<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sistemaCompras.Properties.Settings.TrabajoSistemasConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\user\Documents\TrabajoSistemas.accdb"
            providerName="System.Data.OleDb" />
        <add name="sistemaCompras.Properties.Settings.SistemasConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\user\Documents\Access\Sistemas.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>